.quote__card-tag{
  margin: 0 auto;
  margin-bottom: 2rem;
  width:100px;
  border-radius: 50px;
  background-color: var(--bg-tag) ;
  color: var(--white);
  padding: .5rem;
  font-size: 1rem;
  font-weight: 500;

}